input {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font-weight: normal;
   vertical-align: baseline;
}


.result .mu-sub-header {
   font-size: 28px;
   color: var(--primary);
}

.result .holder img {
   height: 92px;
   width: 92px;
   border-radius: 50%;
}

.result .departLi2 {
   width: 100%;
   float: left;
   border-bottom: 1px solid var(--primary--line);
}

.result .grid-cell2 {
   line-height: 50px;
   margin: 0 12px;
}

.result .mubadge {
   font-size: 10px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   padding: 0 6px;
   line-height: 1.5;
   font-size: 12px;
   font-style: normal;
   background-color: #bdbdbd;
   color: #e01212;
   border-radius: 3px;
   overflow: hidden;
   border: 1px solid #bdbdbd;
}

.resulthistory .history {
   width: 100%;
   height: 74px;
   border-bottom: 1px solid #eee;
   line-height: 74px;
}

 
.resulthistory .fl {
   display: flex;
   color: #777;
}

.resulthistory .fl span {
   height: 100%;
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.resulthistory .fl .lf {
   flex: 6.7;
   font-size: 28px;
}

.resulthistory .fl .rt {
   flex: 1;
   justify-content: center;
   font-size: 28px;
   cursor: pointer;
}

.delete {
   float: right;
   margin-right: 2%;
}

.hj {
   width: 85%;
   display: inline-block;
}

.delete {
   width: 5%;
   display: inline-block;
}

.clear {
   margin-top: 20px;
}